<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <div class="Allpost">
            <div class="flexcreate">
                <div>
                    <a href="addnewpost.html" class="btn btn-primary">Create</a>
                </div>
                <div>
                    <input type="text" class="form-control" placeholder="Search">
                </div>
            </div>
            <div class="postable TBL">
                <table class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th></th>
                            <th>ID</th>
                            <th>Title</th>
                            <th>Author</th>
                            <th>Category</th>
                            <th>Tag</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <input type="checkbox" name="">
                            </td>
                            <td>9</td>
                            <td>Bootstrap 5 Alpha Finally Launched!</td>
                            <td>John Doe</td>
                            <td>Technology</td>
                            <td>Framework, Bootstrap, HTML</td>
                            <td>
                                <button type="button" class="btn btn-danger" title="Edit">
                                    <i class="fas fa-pencil-alt"></i>
                                </button>
                                <button type="button" class="btn btn-danger" title="Delete">
                                    <i class="far fa-trash-alt"></i>
                                </button>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input type="checkbox" name="">
                            </td>
                            <td>9</td>
                            <td>Bootstrap 5 Alpha Finally Launched!</td>
                            <td>John Doe</td>
                            <td>Technology</td>
                            <td>Framework, Bootstrap, HTML</td>
                            <td>
                                <button type="button" class="btn btn-danger" title="Edit">
                                    <i class="fas fa-pencil-alt"></i>
                                </button>
                                <button type="button" class="btn btn-danger" title="Delete">
                                    <i class="far fa-trash-alt"></i>
                                </button>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input type="checkbox" name="">
                            </td>
                            <td>9</td>
                            <td>Bootstrap 5 Alpha Finally Launched!</td>
                            <td>John Doe</td>
                            <td>Technology</td>
                            <td>Framework, Bootstrap, HTML</td>
                            <td>
                                <button type="button" class="btn btn-danger" title="Edit">
                                    <i class="fas fa-pencil-alt"></i>
                                </button>
                                <button type="button" class="btn btn-danger" title="Delete">
                                    <i class="far fa-trash-alt"></i>
                                </button>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input type="checkbox" name="">
                            </td>
                            <td>9</td>
                            <td>Bootstrap 5 Alpha Finally Launched!</td>
                            <td>John Doe</td>
                            <td>Technology</td>
                            <td>Framework, Bootstrap, HTML</td>
                            <td>
                                <button type="button" class="btn btn-danger" title="Edit">
                                    <i class="fas fa-pencil-alt"></i>
                                </button>
                                <button type="button" class="btn btn-danger" title="Delete">
                                    <i class="far fa-trash-alt"></i>
                                </button>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input type="checkbox" name="">
                            </td>
                            <td>9</td>
                            <td>Bootstrap 5 Alpha Finally Launched!</td>
                            <td>John Doe</td>
                            <td>Technology</td>
                            <td>Framework, Bootstrap, HTML</td>
                            <td>
                                <button type="button" class="btn btn-danger" title="Edit">
                                    <i class="fas fa-pencil-alt"></i>
                                </button>
                                <button type="button" class="btn btn-danger" title="Delete">
                                    <i class="far fa-trash-alt"></i>
                                </button>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input type="checkbox" name="">
                            </td>
                            <td>9</td>
                            <td>Bootstrap 5 Alpha Finally Launched!</td>
                            <td>John Doe</td>
                            <td>Technology</td>
                            <td>Framework, Bootstrap, HTML</td>
                            <td>
                                <button type="button" class="btn btn-danger" title="Edit">
                                    <i class="fas fa-pencil-alt"></i>
                                </button>
                                <button type="button" class="btn btn-danger" title="Delete">
                                    <i class="far fa-trash-alt"></i>
                                </button>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input type="checkbox" name="">
                            </td>
                            <td>9</td>
                            <td>Bootstrap 5 Alpha Finally Launched!</td>
                            <td>John Doe</td>
                            <td>Technology</td>
                            <td>Framework, Bootstrap, HTML</td>
                            <td>
                                <button type="button" class="btn btn-danger" title="Edit">
                                    <i class="fas fa-pencil-alt"></i>
                                </button>
                                <button type="button" class="btn btn-danger" title="Delete">
                                    <i class="far fa-trash-alt"></i>
                                </button>
                            </td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
<!-- /.content -->