<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-default">
                    <form action="/AdminModule/Register/UpdatePassword" method="POST" role="form">

                        <input type="hidden" name="id" id="id">          
                        <div class="card-body">
                            <div class="form-group">
                                <label for="old_password">Old Password</label>
                                <div class="input-group">
                                    <input id="old_pwd" type="password" class="form-control " name="old_pwd" autofocus="">
                                    <div class="input-group-append old_password">
                                        <div class="input-group-text">
                                            <span class="fas fa-eye"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="new_password">New Password</label>
                                <div class="input-group">
                                    <input id="new_pwd" type="password" class="form-control " name="new_pwd">
                                    <div class="input-group-append password">
                                        <div class="input-group-text">
                                            <span class="fas fa-eye"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="password_confirmation">New Password (Again)</label>
                                <div class="input-group">
                                    <input id="confirmPassword" type="password" class="form-control" name="confirmPassword">
                                    <div class="input-group-append password_confirmation">
                                        <div class="input-group-text">
                                            <span class="fas fa-eye"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <button type="button" class="btn btn-primary" onclick="UpdatePassword();" >Change Your Password</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>


@section scripts{
    <script type="text/javascript">

        function UpdatePassword() {
            debugger
            if ($('#old_pwd').val() === '') {
                toastr.error(" Enter old password ");
                return false;
            }
            if ($('#new_pwd').val() === '') {
                toastr.error("Enter new password ");
                return false;
            }
            if ($('#confirmPassword').val() === '') {
                toastr.error("Enter new password again ");
                return false;
            }
            else {
                var data = {
                    id:$('#id').val(),
                    old_pwd: $('#old_pwd').val(),
                    new_pwd: $('#new_pwd').val(),
                    confirmPassword: $('#confirmPassword').val()
                }
                console.log("this is data", data)
                $.ajax({
                    url: '/Register/UpdatePassword',
                    method: 'post',
                    dataType: 'json',
                    data: data,
                    success: function (data) {
                        toastr.success("sucessfully password updated");
                        window.location.href = "/AdminModule/Login/Index";
                    },
                    error: function () {
                        toastr.error("Unable to insert data");
                    }

                });
            }
        }

    </script>    
}
